body {
  width: 550px;
  background-color: darkcyan;
  padding-bottom: 8px;
}

::-webkit-scrollbar {
    display: none;
}

#navbar {
  width: 100%;
  height: 60px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: lightcyan;
}

#title {
  font-family: 'Special Elite', cursive;
  font-size: 30px;
  padding-left: 18px;
  padding-top: 18px;
  display: inline-block;
  cursor: pointer;
}

#navlinks {
  float: right;
  padding-right: 8px;
  padding-top: 26px;
  display: inline-block;
}

.navlink {
  cursor: pointer;
  font-family: 'Special Elite', cursive;
  font-size: 16px;
  padding-right: 22px;
}

#user-forms{
  font-family: 'Special Elite', cursive;
}

#login-form{
  width: 100%;
  background-color: lightcyan;
  text-align: center;
  padding-bottom: 8px;
}

#register-form{
  width: 100%;
  background-color: lightcyan;
  padding-bottom: 4px;
  text-align: center;
  padding-bottom: 8px;
}

.form-input {
  margin-left: 2px;
  margin-right: 2px;
  border-radius: 3px;
}

.form-button {
  font-family: 'Special Elite', cursive;
  padding: 4px;
}

#new-comment {
  margin: 16px;
  text-align: center;
  padding-bottom: 8px;
}

#comment-body {
  width: 100%;
  height: 76px;
  border-radius: 5px;
  resize: none;
}

.comment-button {
  float: right;
  margin-right: -6px;
}

.new-reply {
  margin: 16px;
  text-align: center;
  padding-bottom: 8px;
}

.reply-body {
  width: 100%;
  height: 76px;
  border-radius: 5px;
  resize: none;
}

.reply-comment-button {
  float: right;
  margin-right: -6px;
}

.comment {
  border-radius: 5px;
  margin-right: 8px;
  margin-bottom: 4px;
  overflow: hidden;
  position: relative;
}

.ups {
  position: absolute;
  height: 100%;
  width: 50px;
  overflow: hidden;
}

.vote {
  padding-top: 10px;
  padding-left: 8px;
}

.voter {
  padding-left: 6px;
}

.score {
  padding-top: 10px;
  padding-left: 27px;
  font-size: 16px;
  color: darkcyan;
}

.vote1 .upvote {
  color: coral;
}

.vote-1 .downvote {
  color: coral;
}

.comment-head {
  padding-left: 58px;
  padding-bottom: 8px;
  padding-top: 8px;
}

.author {
  cursor: pointer;
  font-size: 14px;
  padding-right: 16px;
  padding-left: 8px;
}

.comment-body {
  padding-left: 58px;
  padding-right: 20px;
  padding-bottom: 8px;
  line-height: 150%;
}

.reply {
  float: right;
  padding-right: 16px;
  padding-bottom: 8px;
  padding-top: 8px;
  cursor: pointer;
  font-family: 'Special Elite', cursive;
}

.smooth {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.hidden {
  display: none;
}

#feedback {
  font-family: 'Special Elite', cursive;
  background-color: lightcyan;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  text-align: center;
  padding-bottom: 8px;
  padding-top: 8px;
}

.error {
  color: red;
}

.success {
  color: green;
}

/* The Modal (background) */
.modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  border-radius: 5px;
  text-align: center;
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
